<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Qwk.io" />
    <meta name="keywords" content="Qwkio Qwk.io online surveys polls questionnaire" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qwkio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav text-center">
        {{!--<div class="logospace">
          <div id="logo">
              <a href="/"><img class="logo" src="/img/logo.png"/></a>
          </div>
        </div>--}}
        <li><a href="/">Home</a></li>
        <li><a href="/create/">Create Survey</a></li>
        <li><a href="/about/">About Qwk.io</a></li>
        <li><a href="/help/">Help</a></li>
        <li><a href="/examples/">Examples</a></li>
      </ul>
    </div>
  </div>
</nav>
    <header>header</header>
    <my-app>Loading ...</my-app>
    <script src="/js/app/bundle.js"></script>
    <footer>footer</footer>
</body>
</html>