td {
    border: 1px solid lightgray;
    padding: 3px;
    width: 100%;
    text-align: center;
}

th, table {
    border: none;
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.info {
    background-color: lightgray;
}

.question {
    background-color: lightblue;
}

.warning {
    background-color: lightcoral;
}

tr:nth-child(odd) {
    background-color: #F0F0F0;
}