<div class="container">
      <div class="row panel panel-info">
            <div class="panel-heading">Create a survey</div>
            <div class="panel-body">
                <p>Welcome to Qwk.io! Now you can create a survey with markdown! Below is a sample of what you can type to create a survey, for more information on markdown, please refer to Guidelines.
                As you are typing, you will see the <b>live preview</b> of how your survey will look like.
                </p>
                    <form action="/survey" method="post">
                        <div class="form-group col-md-12">
<textarea #rawtext rows="22" wrap="hard" class="form-control" cols="100" (input)="onPreview(rawtext.value)">
Enter your survey title here
Any text you enter here will display below the title.
1) Example multiple choice question
[ ] One
[ ] Two
[ ] Three
2) Example radio list question
( ) One
( ) Two
( ) Three
3) Example rating between 1-5
(1) (2) (3) (4) (5)
4) Example text response question
___
5) You can do a multi-line textbox too!
___
___
6) Example dropdown question
< > One
< > Two
< > Three
</textarea>
                        </div>
                    <button class="btn btn-primary" type="submit" (click)="onSubmit(rawtext.value)" *ngIf="isValidSurvey();">Submit</button>
                    <!-- <a (click)="onPreview(rawtext.value)"> Preview</a> -->
                </form>
            </div>
      </div>
</div>