 <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="text" name="first" ngModel required #first="ngModel">
    <input name="last" ngModel>
    <button>Submit</button>
</form> -->



 <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="container survey" *ngIf="isObject(); else elseBlock">
        <div class="row panel panel-primary" *ngIf="surveyObject">
            <div class="panel-heading">{{ surveyObject.title }}</div>
            <div class="panel-body">{{ surveyObject.description }}</div>
            <ul class="survey_list">
                <li *ngFor="let q of surveyObject.questions">
                    <p><u>Question {{ q.idx }}</u></p>
                    <p>{{ q.title }}</p>
                    <div *ngIf="q.type==='singleline'">
                        <div>
                            <input type="textbox" name="textbox" size="35" ngModel>
                        </div>
                    </div>
                    <div *ngIf="q.type==='multiline'">
                        <div>
                            <textarea name="textarea" row="10" cols="35" ngModel></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button>Submit</button>
</form> 
<p>First name: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form Value: {{ f.value | json }}</p>
<p>Form Valid: {{ f.valid }}</p>

<!-- <div class="container survey" *ngIf="isObject(); else elseBlock">
    <div class="row panel panel-primary" *ngIf="surveyObject">
        <div class="panel-heading">{{ surveyObject.title }}</div>
        <div class="panel-body">{{ surveyObject.description }}</div>
        <ul class="survey_list">
            <li *ngFor="let q of surveyObject.questions">
                <p><u>Question {{ q.idx }}</u></p>
                    <p>{{ q.title }}</p>
                <div *ngIf="q.type==='radio'">
                    <div class="radio" *ngFor="let option of q.options">
                    <input name="Q{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" type="radio" value="{{ option.id }}">
                    <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>
                    </div>
                </div>
                <div *ngIf="q.type==='checkbox'">
                    <div class="checkbox" *ngFor="let option of q.options">
                    <input name="Q{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" type="checkbox" value="{{ option.id }}">
                    <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>
                    </div>
                </div>
                <div *ngIf="q.type==='pointrating'">
                    <span *ngFor="let option of q.options">
                    <input name="Q{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" type="radio" value="{{ option.id }}">
                    <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>&nbsp;
                    </span>
                </div>
                <div *ngIf="q.type==='dropdown'">
                    <select name="Q{{ q.idx }}">
                        <option *ngFor="let option of q.options" value="{{ option.id }}">{{ option.value }}</option>
                    </select>
                </div>
                <div *ngIf="q.type==='singleline'">
                    <div>
                        <input type="textbox" name="Q{{ q.idx }}" size="35">
                    </div>
                </div>
                <div *ngIf="q.type==='multiline'">
                    <div>
                        <textarea name="Q{{ q.idx }}" row="10" cols="35"></textarea>
                    </div>
                </div>
                <br>
            </li>
        </ul>
    </div>
</div>
<ng-template #elseBlock>
    <div class="container survey">
        <div class="row panel panel-warning">
            <div class="panel-heading">No survey found.</div>
        </div>
    </div>
    <app-survey-input></app-survey-input>
</ng-template> -->