<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="container survey" *ngIf="isOpen(); else elseBlock">
        <div class="row panel panel-primary" *ngIf="surveyObject">
            <div class="panel-heading">{{ surveyObject.title }}</div>
            <div class="panel-body">{{ surveyObject.description }}</div>
            <ul class="survey_list">
                <li *ngFor="let q of surveyObject.questions">
                    <p><u>Question {{ q.idx }}</u></p>
                    <p>{{ q.title }}</p>
                    <div *ngIf="q.type==='radio'">
                        <div class="radio" *ngFor="let option of q.options">
                        <input type="radio" name="{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" value="{{ option.id }}" ngModel>
                        <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>
                        </div>
                    </div>
                    <div *ngIf="q.type==='checkbox'">
                        <div class="checkbox" *ngFor="let option of q.options">
                        <input name="{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" type="checkbox" value="{{ option.id }}" (change)="updateChecked(option.id, q.idx, q.type, $event)" ngModel>
                        <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>
                        </div>
                    </div>
                    <div *ngIf="q.type==='pointrating'">
                        <span *ngFor="let option of q.options">
                        <input type="radio" name="{{ q.idx }}" id="Q_{{ q.idx }}_R{{ option.id }}" value="{{ option.id }}" ngModel>
                        <label for="Q_{{ q.idx }}_R{{ option.id }}">{{ option.value }}</label>&nbsp;
                        </span>
                    </div>
                    <div *ngIf="q.type==='dropdown'">
                        <select name="{{ q.idx }}" ngModel>
                            <option *ngFor="let option of q.options" value="{{ option.id }}">{{ option.value }}</option>
                        </select>
                    </div>
                    <div *ngIf="q.type==='singleline'">
                        <div>
                            <input type="textbox" name="{{ q.idx }}" size="35" ngModel>
                        </div>
                    </div>
                    <div *ngIf="q.type==='multiline'">
                        <div>
                            <textarea name="{{ q.idx }}" row="10" cols="35" ngModel></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button type="submit">Submit</button>
    </div>
</form> 

<ng-template #elseBlock>
    <div class="container">
        <div class="panel panel-info">
              <div class="panel-heading">Sorry</div>
              <div class="panel-body">
                  <div id="main" role="main">
                      <div class="centered">
                          <div id="admin-survey">
                              <div class="survey-link">
                              <p>Survey is now closed.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</ng-template>